.apos-refreshable { background-color: lighten(@grayLight, 30%);}

.soyp-footer
{
  background-color: lighten(@blue, 10%);
  .logo { margin-left: auto; margin-right: auto; }

  .soyp-footer-text
  {
    padding: 100px;
    @media (max-width: 600px) { padding: 40px 0px; }
  }
}
